<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<img src="http://www.bestbuy.ca/{{thumbnailImage}}" alt="{{name}}">
		<div class="productName">{{name}}</div>
		<div class="productActions"><a href="#" data-id="{{sku}}" class="btn btn-primary js-show" role="button">Show..</a></div>
	</div>
</div>
